<h2>My Classes</h2>

<%= button_to "Add Class", new_classroom_path %>

<ul>
  <% @classrooms.sort_by{ |c| c.period}.each do |c| %>
    <li>
      <%= c.subject %> - Period <%= c.period %><br>
      Teacher: <%= c.teacher %><br>
      <%= link_to "Student Roster", classroom_students_path(c)%>: <%= pluralize(c.students.count, "student") %> <br>
      Allergies or special considerations: <%= c.allergy_count %><br><br>
      <%= link_to "Edit Class", edit_classroom_path(c) %>
      <%= link_to "Add Student", new_classroom_student_path(c) %> <br><br><br>
    </li>
  <% end %>
</ul>

