<h2>All Classes</h2>

<ul>
  <% @classrooms.each do |c| %>
    <li>
      <%= c.subject %> - Period <%= c.period %><br>
      Teacher: <%= c.teacher %><br>
      <%= link_to "Student Roster", classroom_students_path(c)%> <br>
      Allergies in this class: <%= c.allergy_count %><br><br>
      <%= link_to "Edit Class", edit_classroom_path(c) %>
      <%= link_to "Add Student", new_classroom_student_path(c) %> <br>
    </li>
  <% end %>
</ul>