<h2>New Classroom</h2>

<%= form_for @classroom do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br>
  <%= f.label :user_id %><br>
  <%= f.text_field :user_id %><br>
  <%= f.submit %><br>
<% end %>