<!-- get rid of this once validations ensure name -->
<% if @classroom.name %>
  <h2><%= @classroom.name %></h2><br>

  <% if @classroom.students.empty? %>
    Class empty<br>
    link to "Add new student to this class" at nested new route<br>
  <% else %>
    Students:
    <ul>
      <% @classroom.students.each do |s| %>
        <li>
          <%= s.name %><br>
          Student's allergies and severities<br>
          <%= link_to "Detail", student_path(s) %><br>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>

<%= link_to "Edit Classroom Name", edit_classroom_path(@classroom) %><br>
<%= button_to "Delete Classroom", classroom_path(@classroom), method: :delete %><br>
link to "Add new student to this class" at nested new route<br>