** get rid of conditional once validations ensure name **
<% if @classroom.name %>
  <h2><%= @classroom.name %></h2><br>

  <% if @classroom.students.empty? %>
    Class empty<br>
    <%= link_to "Add new student to this class", new_classroom_student_path(@classroom) %><br>
  <% else %>
    Students:
    <ul>
      <% @classroom.students.each do |s| %>
        <li>
          <%= s.name %><br>
          <%= s.display_allergies %><br>
          ** format allergies and severities to deal with none or multiple **<br>
          <%= link_to "Detail", student_path(s) %><br>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>

<%= link_to "Edit Classroom Name", edit_classroom_path(@classroom) %><br>
<%= button_to "Delete Classroom", classroom_path(@classroom), method: :delete %><br>
<%= link_to "Add new student to this class", new_classroom_student_path(@classroom) %><br>