<h2>Edit Student</h2>
<%= render partial: "layouts/errors", locals: {obj: @student} %>
<%= form_for @student do |f| %>
  <%= render partial: "form", locals: {f: f} %>
  <%= f.submit %>
<% end %>

<br><br>To add an allergy instead click <%= link_to "here", new_student_allergy_path(@student) %>
