<% if @classroom %>
  <h2>Student Roster</h2>
  <h4><%= "Period #{@classroom.period} #{@classroom.subject} with #{@classroom.teacher}" %></h4>
  <%= link_to "See Only Students With Allergies", classroom_students_with_allergy_path(@classroom) %><br><br>
<% else %>
  <h2>All Students</h2>
  <%= link_to "See Only Students With Allergies", students_with_allergy_path %><br><br>
<% end %>
<b> * indicates student with allergy</b><br><br>

<table>
  <tr>
    <th>Last Name </th>
    <th>First Name </th> 
    <th>Grade </th>
    <th>Lunch </th>
    <th>Detail </th>
    <th>Edit </th>
    <th>Remove </th>
  </tr>
  <% @students.each do |s| %>
    <tr>
      <td><%= "* " if s.allergies.count > 0 %><%= s.last_name %></td> 
      <td><%= s.first_name %></td>
      <td><%= s.grade %></td> 
      <td><%= s.lunch_period %></td>
      <td><%= link_to "Detail", student_path(s) %></td>
      <td><%= link_to "Edit", edit_student_path(s) %></td>
      <% if @classroom %>
        <td>
          <%= form_tag classroom_remove_student_path(@classroom), method: "post" do %>
            <%= hidden_field_tag "student_id", s.id %>
            <%= submit_tag "Remove" %>
          <% end %>
        </td>
      <% else %>
        <td><%= button_to "Delete", student_path(s), method: :delete %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<% if !@classroom %>
  <br><br><b>Add Multiple Students At Once?</b>
  <%= form_tag '/students/new', method: 'get' do %>
    <%= label_tag "How many Students?" %>
    <%= number_field_tag 'student_count', 2 , min: 2, max: 20, step: 1 %><br>
    <%= submit_tag "Create New Batch" %><br><br>
  <% end %>
<% else %>
  <br><%= link_to "Add students to this class", classroom_add_students_path(@classroom) %>
  <br><br><%= button_to "Delete This Class", classroom_path(@classroom), method: :delete %>
<% end %>

