<% if @classroom %>
  <h2>Student Roster</h2>
  <h4><%= "Period #{@classroom.period} #{@classroom.subject} with #{@classroom.teacher}" %></h4>
<% else %>
  <h2>All Students</h2>
<% end %>

<table>
  <tr>
    <th>Last Name </th>
    <th>First Name </th> 
    <th>Grade </th>
    <th>Lunch </th>
  </tr>
  <% @students.sort_by{ |s| s.last_name}.each do |s| %>
    <tr>
      <td><%= s.last_name %></td> 
      <td><%= s.first_name %></td>
      <td><%= s.grade %></td> 
      <td><%= s.lunch_period %></td>
    </tr>
  <% end %>
</table>

<% if !@classroom %>
  <br><br><b>Add Multiple Students At Once?</b>
  <%= form_tag '/students/new', method: 'get' do %>
    <%= label_tag "How many Students?" %>
    <%= number_field_tag 'student_count', 2 , min: 2, max: 20, step: 1 %><br>
    <%= submit_tag "Create New Batch" %><br><br>
  <% end %>
<% end %>

