<h2><%= @student.first_name + " " + @student.last_name %></h2> 
Grade: <%= @student.grade %><br>
Lunch Period: <%= @student.lunch_period %><br>

<% if !@student.display_allergies.empty? %>
  <% @student.display_allergies.each.with_index do |a, index| %>
    <b style="color:red;"><%= a %></b> <%= button_to "Remove Allergy #{index + 1}", severity_path(@student.severities[index]), method: :delete %>
  <% end %>
  <br><br>
<% else %>
    No allergies<br><br>
<% end %>
<%= button_to "Add Allergy", new_student_allergy_path(@student), method: :get %><br><br>

<%= button_to "Edit Student Info", edit_student_path(@student) %>
<%= button_to "Delete Student", student_path(@student), method: :delete %><br>


<h3>Class Schedule:</h3>
<ul>
  <% @student.classrooms.sort_by{ |c| c.period }.each do |c| %>
    <li>
      <b>Period <%= c.period %></b><br>
      Subject: <%= c.subject %><br>
      Teacher: <%= c.teacher %><br><br>
    </li>
  <% end %>
</ul>

