<h2>Signup</h2>

<% unless @user.errors.empty? %>
  <p style="color:red;">
    <% @user.errors.full_messages.each do |m| %>
      <%= m %><br> 
    <% end %>
  </p>
  <% if @user.errors.full_messages.include?("Username has already been taken") %>
    If this is your username, <%= link_to "log in", login_path %><br><br><br>
  <% end %>
<% end %>


<%= form_for @user do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %><br>
  <%= f.label :password %>
  <%= f.password_field :password %><br>
  <%= f.submit %>
<% end %>