<h2>Log New Allergy For <%= "#{@student.first_name} #{@student.last_name}" %></h2>

<%= form_tag("/allergies", method: "post") do %>
  <% @allergy_count.times do |count| %>
    <b>Allergy <%= count + 1 %>: </b><br>
    <%= label_tag "Allergy" %>
    <input list="allergies" name="allergy[<%= count + 1 %>][name]" />
    <datalist id="allergies">
      <% @allergies.each do |allergy| %>
        <option value="<%= allergy.name %>"></option>
      <% end %>  
    </datalist>
    
    <%= label_tag "Category" %>
    <%= select_tag "allergy[#{count + 1}][category]", options_for_select(["Food Allergy", "Medication Allergy", "Dietary Restriction", "Other Allergy"]) %><br>
    <%= label_tag "Requires" %>
    <%= select_tag "allergy[#{count + 1}][severity]", options_for_select(["Epi Pen", "Prescription Medication", "OTC Medication (ex. Benedryl)"]) %><br><br>
  <% end %>
  <%= hidden_field_tag :student, @student.id %>
  <%= submit_tag "Create" %>
<% end %>
  






  