<!DOCTYPE html>
<html>
  <head>
    <title>StudentAllergies</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
  <% unless !logged_in? %>
    <br>
    <a style="padding-left: 80px;"><%= link_to "My Classes", classrooms_path %></a>
    <a style="padding-left: 80px;"><%= link_to "New Class", new_classroom_path %></a> 
    <a style="padding-left: 80px;"><%= link_to "All Students", students_path %></a>
    <a style="padding-left: 80px;"><%= link_to "Log Out", logout_path %></a>
  <% end %>
  <br><br><b style="color:red;"><%= flash[:alert] %></b>

    <%= yield %>

  </body>
</html>
